In [22]:
# Import necessary libraries
import pandas as pd
import os

In [23]:
# import the datasets
sales_df = pd.read_csv(r'Raw_datasets\pizza_sales.csv')
ingrediants_df = pd.read_csv(r'Raw_datasets\pizza_ingredients.csv')

In [24]:
ingrediants_df.head()

,pizza_name_id,pizza_name,pizza_ingredients,Items_Qty_In_Grams
0,bbq_ckn_l,The Barbecue Chicken Pizza,Barbecued Chicken,40.0
1,bbq_ckn_l,The Barbecue Chicken Pizza,Red Peppers,15.0
2,bbq_ckn_l,The Barbecue Chicken Pizza,Green Peppers,20.0
3,bbq_ckn_l,The Barbecue Chicken Pizza,Tomatoes,30.0
4,bbq_ckn_l,The Barbecue Chicken Pizza,Red Onions,60.0

In [25]:
sales_df.head()

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,1/1/2015,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2,2,classic_dlx_m,1,1/1/2015,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3,2,five_cheese_l,1,1/1/2015,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4,2,ital_supr_l,1,1/1/2015,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5,2,mexicana_m,1,1/1/2015,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza

#### check dataset info

In [26]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   pizza_id           48620 non-null  int64
 1   order_id           48620 non-null  int64
 2   pizza_name_id      48604 non-null  object
 3   quantity           48620 non-null  int64
 4   order_date         48620 non-null  object
 5   order_time         48620 non-null  object
 6   unit_price         48620 non-null  float64
 7   total_price        48613 non-null  float64
 8   pizza_size         48620 non-null  object
 9   pizza_category     48597 non-null  object
 10  pizza_ingredients  48607 non-null  object
 11  pizza_name         48613 non-null  object
dtypes: float64(2), int64(3), object(7)
memory usage: 4.5+ MB

In [27]:
ingrediants_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 518 entries, 0 to 517
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   pizza_name_id       518 non-null    object
 1   pizza_name          518 non-null    object
 2   pizza_ingredients   518 non-null    object
 3   Items_Qty_In_Grams  514 non-null    float64
dtypes: float64(1), object(3)
memory usage: 16.3+ KB

#### check missing values

In [28]:
# check for missing values
print(sales_df.isnull().sum())
print('\n')
print(ingrediants_df.isnull().sum())

pizza_id              0
order_id              0
pizza_name_id        16
quantity              0
order_date            0
order_time            0
unit_price            0
total_price           7
pizza_size            0
pizza_category       23
pizza_ingredients    13
pizza_name            7
dtype: int64


pizza_name_id         0
pizza_name            0
pizza_ingredients     0
Items_Qty_In_Grams    4
dtype: int64

#### drop null values

In [29]:
# drop null values
sales_df.dropna(inplace=True)
ingrediants_df.dropna(inplace=True)

#### check for duplicate values

In [30]:
sales_df.duplicated().sum()
ingrediants_df.duplicated().sum()

np.int64(0)

In [31]:
print(sales_df.shape)
print(ingrediants_df.shape)

(48554, 12)
(514, 4)

* convert to data to lowercase and strip trailing white spaces

In [32]:
# Convert all string columns to lowercase and strip trailing white spaces
sales_df = sales_df.map(lambda x: x.lower().strip() if isinstance(x, str) else x)

* convert order_data & order_time from object to datetime dtype

In [33]:
# Convert order_date from object to datetime dtype
sales_df['order_date'] = pd.to_datetime(sales_df['order_date'], format='mixed')

# Convert order_time from object to datetime dtype
sales_df['order_time'] = pd.to_datetime(sales_df['order_time'], format='%H:%M:%S').dt.time

#### check for Nat values

In [34]:
# check for Nat values in order_date
nat_count = sales_df['order_date'].isna().sum()
print(f"Number of NaT values: {nat_count}")

Number of NaT values: 0

In [35]:
sales_df.head(2)

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,m,classic,"sliced ham, pineapple, mozzarella cheese",the hawaiian pizza
1,2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,m,classic,"pepperoni, mushrooms, red onions, red peppers,...",the classic deluxe pizza

In [36]:
ingrediants_df.head(2)

,pizza_name_id,pizza_name,pizza_ingredients,Items_Qty_In_Grams
0,bbq_ckn_l,The Barbecue Chicken Pizza,Barbecued Chicken,40.0
1,bbq_ckn_l,The Barbecue Chicken Pizza,Red Peppers,15.0

#### Feature Engineering

In [37]:
# Extract day of the week from order_date
sales_df['day_of_week'] = sales_df['order_date'].dt.dayofweek

# Create a new column to indicate if the day is a weekend (sat & sun)
sales_df['is_weekend'] = sales_df['day_of_week'].apply(lambda x: 1 if x >= 5 else 0)

sales_df.head()

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name,day_of_week,is_weekend
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,m,classic,"sliced ham, pineapple, mozzarella cheese",the hawaiian pizza,3,0
1,2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,m,classic,"pepperoni, mushrooms, red onions, red peppers,...",the classic deluxe pizza,3,0
2,3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,l,veggie,"mozzarella cheese, provolone cheese, smoked go...",the five cheese pizza,3,0
3,4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,l,supreme,"calabrese salami, capocollo, tomatoes, red oni...",the italian supreme pizza,3,0
4,5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,m,veggie,"tomatoes, red peppers, jalapeno peppers, red o...",the mexicana pizza,3,0

In [38]:
sales_df.shape

(48554, 14)

#### outlier treatment

In [39]:
# Define a function to remove outliers using IQR
def remove_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]

# Apply the function to relevant columns in sales_df
sales_df = remove_outliers(sales_df, 'quantity')
sales_df = remove_outliers(sales_df, 'unit_price')

sales_df.head()

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name,day_of_week,is_weekend
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,m,classic,"sliced ham, pineapple, mozzarella cheese",the hawaiian pizza,3,0
1,2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,m,classic,"pepperoni, mushrooms, red onions, red peppers,...",the classic deluxe pizza,3,0
2,3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,l,veggie,"mozzarella cheese, provolone cheese, smoked go...",the five cheese pizza,3,0
3,4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,l,supreme,"calabrese salami, capocollo, tomatoes, red oni...",the italian supreme pizza,3,0
4,5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,m,veggie,"tomatoes, red peppers, jalapeno peppers, red o...",the mexicana pizza,3,0

In [40]:
sales_df.shape

(47599, 14)

In [41]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47599 entries, 0 to 48619
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   pizza_id           47599 non-null  int64
 1   order_id           47599 non-null  int64
 2   pizza_name_id      47599 non-null  object
 3   quantity           47599 non-null  int64
 4   order_date         47599 non-null  datetime64[ns]
 5   order_time         47599 non-null  object
 6   unit_price         47599 non-null  float64
 7   total_price        47599 non-null  float64
 8   pizza_size         47599 non-null  object
 9   pizza_category     47599 non-null  object
 10  pizza_ingredients  47599 non-null  object
 11  pizza_name         47599 non-null  object
 12  day_of_week        47599 non-null  int32
 13  is_weekend         47599 non-null  int64
dtypes: datetime64[ns](1), float64(2), int32(1), int64(4), object(6)
memory usage: 5.3+ MB

#### save the cleaned datasets

In [42]:
# Create directory if it does not exist
os.makedirs('Cleaned_datasets', exist_ok=True)

# Save the cleaned sales_df to a CSV file
sales_df.to_csv('Cleaned_datasets/sales_data_cleaned.csv', index=False)

# Save the cleaned ingrediants_df to a CSV file
ingrediants_df.to_csv('Cleaned_datasets/ingredients_data_cleaned.csv', index=False)